<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
   
    <p class="lead">please check your password again !</p>
    <hr>
    

  </div>
</div>

<%- include('partials/footer') %>
